
/* CSS RESET---------------------------------------------------------------------------- */


html, body, div, form, fieldset, legend, label
{
 margin: 0;
 padding: 0; 
}

table
{
 border-collapse: collapse;
 border-spacing: 0;
}

th, td {
 text-align: left;
 vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption, p { 
    font-weight: normal; 
    font-family: 'Baloo';
    color: white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* CSS RESET -----------------------------------------------------------------------------------*/

#root {
    background-image: url('../app/assets/images/frenzy-board.svg');
    background-repeat: no-repeat;
    background-position: center;
}

canvas {
    position: relative;
    background: none;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.game-over-modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    margin: 0 auto;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background: white;
}


.game-over-image {
    margin-top: 100px;
    width: 800px;
    
}

.hide {
    display: none;
}

.game-over-scores {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 40px;
    width: 600px;
}

.score-boards {
    padding-top: 10px;
    width: 200px;
    height: 90px;
    border-radius: 12px;
    background: white;
    box-shadow: 2px 2px 4px 5px rgba(153, 0, 255, 0.075);

}
.score-boards h2 {
    color: rgb(31, 31, 31);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0;
    margin-top: 10px;
    font-weight: 600;
}
#yourScore {
    color: rgb(31, 31, 31);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    font-size: 28px;
    font-weight: 700;
}

#highScore {
    color: rgb(31, 31, 31);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    font-size: 28px;
    font-weight: 700;
}


.instructions {
    text-align: center;
    width: 50vw;
    top: 10px;
    left: 22%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    opacity: .85;
    padding: 10px 40px;
    
}


.instructions h1, h2, h3, h4, p {
    color: rgb(32, 32, 32);  
    font-family: Arial, Helvetica, sans-serif; 
}

.instructions h4 {
    color: red;
    font-weight: 900;
    text-align: left;
}

.instructions p {
    font-size: 15px;
    line-height: 1.4;
    font-weight: 500;
}

.instructions h3 {
    margin: 20px 0;
}

.instructions h3 {
    text-align: center;
    font-weight: 700;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: none;
    list-style: none;
}

.controls li {
    width: 250px;
}

.controls img {
    border: none;
    margin: none;
}

.hr {
    margin: 40px auto;
    width: 400px;
    height: 1px;
    background: black;
}

.listitems p {
    font-size: 12px;
}
